.intro h1  {
    background: -webkit-linear-gradient(yellow,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;  
   font-weight: 600;
}

.textIntro {
   
        display: block;
        color: rgb(192, 205, 206);
        background-image: none;
        -webkit-text-fill-color: currentColor;
     
}

h4 {
    color: orange;
    background: linear-gradient(#ADD8E6 50%, ADD8E6 65% );
}

.enlace {
    text-decoration: none;
    color: rgba(255, 166, 0, 0.863);
    font-size: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    
}


body {
    background-color: black;
}